<div class=" container m-auto w-75 m-auto">
    <div class="row d-flex justify-content-between g-5">
      <div class="col-md-5 text-center">
        <i class="feash fa-solid fa-fingerprint "></i>
        <p (click)="checkCriminalToken()" class="heading">Criminal analogy</p>
        </div>
        <div class="col-md-5 text-center">
          <i class="feash fa-solid fa-handcuffs"></i>
          <p (click)="checkRebortsToken()"  class="heading">police report</p>
          </div>
    </div>
</div>